<div class="parent">
    <div class="left">
        <h6 routerLink="interpolation">interpolation</h6>
        <h6 routerLink="event-binding">event-binding</h6>
        <h6 routerLink="two-way-binding">two-way-binding</h6>
        <h6 routerLink="calculator">calculator</h6>
        <h6 routerLink="rectangle">rectangle</h6>
        <h6 routerLink="square">square</h6>
        <h6 routerLink="power">power</h6>
        <h6 routerLink="eventRegistration">eventRegistration</h6>
        <h6 routerLink="employeeregistration">employeeregistration</h6>
        <h6 routerLink="cart">cart</h6>
        <h6 routerLink="pipes">pipes</h6>
        <h6 routerLink="cars">cars</h6>
        <h6 routerLink="star">star</h6>
        <h6 routerLink="weekend">weekend</h6>
        <h6 routerLink="gpay">gpay</h6>
        <h6 routerLink="bank">bank</h6>
        <h6 routerLink="vehicle">vehicle</h6>
        <h6 routerLink="school">school</h6>
        <h6 routerLink="flipkart">flipkart</h6>
        <h6 routerLink="gmail">gmail</h6>
        <h6 routerLink="boredom">boredom</h6>
        <h6 routerLink="create-account">create-account</h6>
        <h6 routerLink="restaurent">restaurent</h6>
        <button (click)="logout()">logout</button>

       
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>
